<section class="text-center">
    <div class="our-numbers p-2">
        <p>إنجازاتنا</p>
        <h2 class="my-3">أرقامنا منذ 2016</h2>
        <div class="row align-content-center align-items-center">
            <div class="col-md">
                <p>  800 الف </p>
                <span>متدرب</span>
            </div>
            <div class="col-md">
                <p> 200 </p>
                <span>شريك نجاح</span>
            </div>
            <div class="col-md">
                <p>  6000 </p>
                <span>ورشة عمل</span>
            </div>
            <div class="col-md">
                <p> 5 </p>
                <span>الدول</span>
            </div>
            <div class="col-md ">
                <p>  3 مليون </p>
                <span>زائر</span>
            </div>
        </div>
    </div>
    <div class="row p-3 achieve align-content-center align-items-center ">
        <div class="col-md-6">
            <img src="static/images/رسالة-تسويقية-1.png" alt="">
        </div>

        <div class="col-md-6 text-right">
            <h2 class="text-white"> مؤمنين بما يمكن للفرص التعليمية تغييره </h2>
            <p>اتعلم مع مدربين خبراء</p>
            <p>طور مهاراتك</p>
            <p>غير حياتك المهنية</p>   
        </div> 
        
    </div>
</section>

<section class="p-5">
    <div class="row text-right align-content-center align-items-center">
        <div class="p-5 col-md-6">
            <div class="trainer-1">
                <p>انضم إلى مدربين EYouth Learning</p>
                <div class="text-center">
                    <button>كن مدربا</button>
                </div>
            </div>
        </div>
        <div class="p-5 col-md-6">
            <div class="trainer-2">
                <p>هل لديك فريق عمل تريد تدريبه؟​</p>
                <div class="text-center">
                    <button>طور فريق عملك</button>
                </div>
            </div>
        </div>
    </div>
</section>