<section class="why-learning-section text-right p-5 row">
   
    <div class="col-lg-6">
        <h3 class="position-relative mb-3">Eyouth learning لماذا تتعلم مع</h3>
        <p>نحن نقدم مجموعة متنوعة من البرامج التفاعلية التي تساعدك على التعلم بشكل أفضل مع وجود محتوى كامل باللغة العربية لتكون قادرا على مواكبة سوق العمل عن طريق مدربين خبراء في المجالات المطلوبة 
        حاليًا وبأسعار مناسبة،لتحصل على الوظيفة التي تحلم بها بشكل أسرع وفي نهاية كل برنامج تحصل على شهادة معتمدة من 
        EYouth Learning و المنظمة العالمية للإعتماد IAO.</p>
        <div class="mt-5">
            <ul>
                <li>
                    <i class="fas fa-chalkboard-teacher"></i>
                    برامج تفاعلية وعملية
                </li>
                <li>
                    مدربين ذو خبرات
                </li>
                <li>
                    سعر مناسب
                </li>
                <li>
                    محتوى كامل باللغة العربية
                </li>
                <li>
                    شهادات معتمدة بنهاية كل برنامج
                </li>
                <li>
                    الحصول على المصادر تعليمية
                </li>
                <li>
                    الإنضمام إلى مجتمع تفاعلي من الحاصلين على برامجنا
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6">
        <img class="w-100" src="static/images/2-1-2.png" alt="">
    </div>
    
</section>